*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: azure;
}

main{
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 0 10px #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;

}
#principal{
    position: relative;
    height: 300px;
    background-color: rgb(240, 240, 240);
    border: 1px dotted #6666;
    margin-top: 20px;
}
section{
 height: 100px;
 width: 100px;
 padding: 10px;
}

.janela1{
    position: absolute;
    background-color: green;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
.janela2{
    position: absolute;
    background-color: blue;
    top: 50px;
    left: 50px;
}
.janela3{
    background-color: red;
    position: absolute;
    top: 80px;
    left: 80px;
  
}
.janela4{
  position: absolute;
  background-color: #666;
  top: 110px;
  left: 110px;
}
.janela5{
  background-color: #f6fa19;
   position: absolute;
   top: 140px;
   left: 140px;


}